/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header { 
    text-align: center;
  }

}

.tasks {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li, 
h3 {
  list-style: none;
}

input,
button{
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3A3a;
}

/* Heading */
h3 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* New Task */
.add-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.add-task__input {
  width: 318px;
}

.add-task__button:hover {
  color: #0fc57c;
}

/* Task list */
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.item > * {
  vertical-align: middle;
}

.item__checkbox {
  margin: 0 10px;
}

.item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.item__text {
  width: 226px;
}

.item__delete:hover {
  color: #cf2323;
}

.item__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.item__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.item__text {
  display: none;
}

.edit-mode .item__text {
  display: inline-block;
  width: 224px;
}

.edit-mode .item__label {
  display: none;
}
